/ProyectoPokerCompleto/nbproject/private/
/ProyectoPokerCompleto/build/
/ProyectoPokerCompleto/dist/
/Servidor/nbproject/private/
/protocolo/nbproject/private/
/Modelo/nbproject/private/
/Cliente/nbproject/private/
/Modelo/build/
/Servidor/build/
/Modelo/dist/
/protocolo/build/
/protocolo/dist/
/Servidor/dist/